<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hopper Bus</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>tahopperbus</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Live Bus Times</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).realtime</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>real-time-icon</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>tahopperbus://?route=RT</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Sutton Bonington Hopper</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).route901</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>route-icon</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>tahopperbus://?route=901</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>King&apos;s Meadow Hopper</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).route902</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>route-icon</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>tahopperbus://?route=902</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Jubilee Hopper</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).route903</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>route-icon</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>tahopperbus://?route=903</string>
			</dict>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Royal Derby Hospital Centre Hopper</string>
			<key>UIApplicationShortcutItemType</key>
			<string>$(PRODUCT_BUNDLE_IDENTIFIER).route904</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>route-icon</string>
			<key>UIApplicationShortcutItemUserInfo</key>
			<dict>
				<key>url</key>
				<string>tahopperbus://?route=904</string>
			</dict>
		</dict>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Your location is needed to show how far you are from your chosen stop.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Montserrat-Regular.ttf</string>
		<string>Montserrat-Bold.ttf</string>
		<string>Entypo.ttf</string>
		<string>Captain-icon.ttf</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>StatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
